<a href="@Url.Action("GioHang","GioHang")" style="color: white; font-weight: bold; text-decoration: none;">
    <i class="fa fa-shopping-cart">
        <span style="font-family: 'Roboto', sans-serif;"> GIỎ HÀNG (@ViewBag.Tongsoluong)</span>
    </i>
</a>