
@{
    ViewBag.Title = "Thông báo kho hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ThongBao</h2>
<h2>Số lượng sản phẩm bạn muốn xóa đã vượt quá số lượng trong kho xin vui lòng nhập lại số lượng</h2>
<p>
    @Html.ActionLink("VỀ KHO HÀNG", "Index", "KhoHang")
</p>